page-login {
    .icono{
        position: relative;
        font-size: 80px;
        top: 0ox;
        left: 120px;
    }
    .btnLo{
        position: relative;
        top: 30px;
    }
    .letrero{
        position: relative;
        font-size: 14px;
        top: 50px;
        left: 0px; 
    }
    .btnRe{
        position: relative;
        top: 9px;
        left: 152px;
    }
    .olvido{
        position: relative;
        top: 30px;
        left: 50px;
    }
    .cand{
        position: relative;
        width: 20px;
        height: 20px;
        top: 80px;
        left: -110px;
    }
}
