<ion-header>

  <ion-navbar color="secondary">
      <ion-title>Ingeniería en Tec. de Manufactura</ion-title>
      <ion-buttons end [navPush]= "seleccionar">
        <button ion-button icon-only><ion-icon name ="contact"></ion-icon></button></ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list> 
        <button *ngIf='horario.grupo_a != null's class="itm" ion-item  (tap)= "detalles(horario)" >
            {{horario.grupo_a}}   
          </button>
          <button *ngIf='horario.grupo_b != null' class="itm" ion-item  (tap)= "detalles(horario)" >
            {{horario.grupo_b}}   
          </button>
          <button *ngIf='horario.grupo_c != null' class="itm" ion-item  (tap)= "detalles(horario)" >
            {{horario.grupo_c}}   
          </button>
        
    </ion-list>

</ion-content>
