page-registro {
    .icono{
        position: relative;
        font-size: 80px;
        top: 0ox;
        left: 120px;
    }
    .btnRe{
        position: relative;
        top: 0px;
    }
    .label{
        width: 41%;
    }
    .correo{
        position: relative;
        font-size: 18px;
        top: -40px;
        left: 140px;
    }

}
