page-horarios {

    .isw{
     background: #BCA9F5
    }

    .pymes{
        background: #F5A9A9
    }

    .amb{
        background: #BCF5A9
    }

    .civ{
        background: #F2F5A9
    }
    .manu{
        background: #F5D0A9
    }
    .redes{
        background: #A9BCF5
    }
}
